

<%= form_with(model: reservation, local: true, class: 'form-horizontal') do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>

    <div class="form-group">
        <%= form.label 'Travel Date:', class: "col-sm-2 control-label" %>
        <div class='input-group date col-sm-8' id='datepicker'>             
          <%= form.text_field :travel_date, class: 'form-control', placeholder: 'Service Number' %>
          <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
    </div>
  

  <div class="form-group">
    <%= form.label 'Route:', class: "col-sm-2 control-label" %>
    <div class="input-group col-sm-8">
      <%= form.collection_select(:route_id, Route.order(:route_name), :id, :route_name, {prompt: true}, {class: 'form-control', required: "required"})%>
    </div>    
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit class: 'btn btn-success' %>
    </div>
  </div>

<% end %>


<script>
  $(document).ready(function(){
    $('#datepicker').datepicker();
  });
</script>
